//color
$site-color: #358EF5;
$site-color-hover: #3A8376;

$second-color: #e28500;
$text-color: #4E4B4B;
$light-text-color: #888888;
$light-gray: #F5F5F5;
$dark-white: #F8F8F8;
$light-bg: #F3F9FF;

$blue-light: #4B79B3;
$blue: #396295;
$red: #F05252;
$green: #1B7261;
$orange: #EFAD4A;
$error: #FF7B7B;

$white: #fff;
$white-01: rgba(255, 255, 255, 0.1);
$dark: #000;
$dark-light: #272727;
$white-03: rgba(255, 255, 255, 0.3);
$border-color: #CCE4FF;

//animation
$transition: all 0.3s;

//fonts
$base-font: 'Roboto', sans-serif;
$second-font: 'Raleway', sans-serif;
