@import "variables";

@font-face {
    font-family: '#{$icomoon-font-family}';
    src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?k8hilz');
    src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?k8hilz#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?k8hilz') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?k8hilz') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?k8hilz##{$icomoon-font-family}') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
