html,
body,
#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.2;
    background-color: $white;
    position: relative;
    font-style: normal;
    font-weight: normal;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;  
}

img {
    max-width: 100%;
}

button,
a {
    cursor: pointer;
    transition: $transition;
    text-decoration: none;
    outline: none;

    &:hover {
        text-decoration: none;
    }

    &:focus {
        outline: none;
    }
}

input {
    outline: none;
}

textarea {
    outline: none;
    resize: none;
}

main,
.main {
    flex: 1 0 auto;
    background: #F6F6F6;
}

img {
    max-width: 100%;
}

input {
    outline: none;
}

ul,ol {
    padding: 0;
    margin: 0;
}